.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border: 10px solid #22c48ee5;
    border-radius: 10px;
    background-color: #233444;
    color: #F8F8FF;
    padding: 60px;
}

.login-h1, h2 {
    margin-bottom: 20px;
}

.text-container, .input-div {
    margin-bottom: 20px;
}

.login-input {
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    margin-top: 5px;
}

.login-btn {
    margin-top: 25px;
    cursor: pointer;
    padding: 5px;
    width: 20%;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: bold;
    background-color: white;
    color: #233444;;
}

.login-btn:hover {
    background-color: #BB9C54;
    transition: .3s;
}