:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --border: rgb(71, 61, 61);
    --btn-aqua: #233444;
    --accent:  #f8f8ff;
    --text-white: #FBFBFB;
  }

body {
    background: #f8f8ff;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: fit-content;
    height: 80vh;
    margin: 20px auto;
    border: 10px solid #233444;
    border-radius: 10px;
    background-color: #FBFBFB;
    padding: 60px;
}

.profile-name{
    margin-bottom: 90px;
}

ul {
    list-style: none;
}

.user-info button {
    margin-top: 25px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    border-radius: 15px;
    font-weight: bold;
    background: #233444;
    color: #f8f8ff;
}

.user-info button:hover {
    background: #BB9C54;
    color: #f8f8ff;
    transition: .2s;
}

.update-input {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

#form-btn {
    margin-top: 70px;
    background-color: #233444;
    color: #f8f8ff;
    border: none;
    padding: 5px 25px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

#form-btn:hover {
    background-color: #BB9C54;
    color: #f8f8ff;
    transition: .2s;
}