:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --border: rgb(71, 61, 61);
    --btn-aqua: #233444;
    --accent:  #25e4c4;
    --text-white: #FBFBFB;
  }

body {
    background: #f8f8ff;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: fit-content;
    height: 80vh;
    margin: 20px auto;
    border: 10px solid #233444;;
    border-radius: 10px;
    background-color: #FBFBFB;
    padding: 60px;
}

ul {
    list-style: none;
}

.user-info button {
    margin-top: 25px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
    background: #233444;
    color: white;
}

.user-info button:hover {
    background: #BB9C54;
    color: #233444;
}
