@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --border: #233444;
    --btn-aqua: #BB9C54;
    --accent:  #BB9C54;
    --text-white: black;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f8f8ff;
}

