* {
    box-sizing: border-box;
}

:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --border: rgb(71, 61, 61);
    --btn-aqua: #22c48ee5;
    --accent:  #25e4c4;
    --text-white: #FBFBFB;
  }

.employee {
    background-color: #FBFBFB;
    border: solid 4px #22c48ee5;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

