.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-aqua);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80%;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

.nav-link {
    color: #f8f8ff;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.nav-link:hover {
    color: #BB9C54;
}

.logout {
    display: flex;
    align-items: center;
}

.logout-btn {
    background-color: #f8f8ff;;
    color: #233444;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.logout-btn:hover {
    background-color: #BB9C54;;
    color: #233444;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}