@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.logo-header {
    cursor: pointer;
    margin-right: auto;
}

.nav-menu li {
    display: inline-block;
    padding: 0px 20px;
    margin-left: auto;
}

.nav-menu li a {
    transition: all 0.3s ease 0s;
}

.nav-menu li a:hover {
    color: #bb9c54;
}

button {
    padding: 9px 25px;
    background-color: rgba(187, 156, 84, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(187, 156, 84, 0.8);
}